body > div.head
{
	display: grid;
}

body > div.head > h1
{
	margin: auto;
	font-size: 5vw;
	font-family: 'Luckiest Guy', cursive;
	text-align: center;
}

body > div.head > span
{
	margin: auto;
}

@media (max-width: 600px)
{
    body > div.head > h1
	{ 
		font-size: 15vw;
	}

    body > div.head > h1 > span
	{ 
		display: none;
	}

	body > div.head > span
	{
		font-size: 5vw;
	}
}