/* ---------  fonts -------- */
@font-face { font-family: Comic Sans MS; src: url('./fonts/comic.ttf') }
@font-face { font-family: Comic Sans MS Bold; src: url('./fonts/comicbd.ttf') }
@font-face { font-family: Comic Sans MS Italic; src: url('./fonts/comici.ttf') }
@font-face { font-family: Comic Sans MS Bold Italic; src: url('./fonts/comicz.ttf') }
@font-face { font-family: Source Sans PRO; src: url('./fonts/SourceSansPro-BoldIt.ttf') }
@font-face { font-family: Source Sans PRO Regular; src: url('./fonts/SourceSansPro-Regular.ttf') }
@font-face { font-family: Source Sans PRO Standard; src: url('./fonts/SourceSansPro-BlackIt.ttf') }
@font-face { font-family: Source Sans PRO Semi-Bold; src: url('./fonts/SourceSansPro-Semiboldit.ttf') }
@font-face { font-family: Source Sans PRO Semi-Bold Italic; src: url('./fonts/SourceSansPro-SemiboldIt.ttf') }
/* ---------------------- elements ------------------------- */
body {
	background-color: #8dc288;
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;
	font-smooth: always;
	font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
}
html
{
	font-family: Source Sans PRO Semi-Bold Italic;
	font-size: 22px;
	height: 100vh;
	width: 100vw;
}

body
{
	height: 100vh;
	width: 100vw;
}

div#title
{
	display: grid;
}

div#title > h1
{
    font-family: Source Sans PRO Semi-Bold;
	margin: auto;
	font-size: 5vw;
}

div#title > h1 > small
{
	font-size: 1vw;
}

div#main
{
	display: grid;
}

div#main > span
{
	margin: auto;
}

div#showoffs
{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

div#showoffs > iframe
{
	margin: auto;
	padding: 10px;
}

@media only screen and (max-device-width: 600px)
{
	div#title > h1
	{
		font-size: 12vw;
	}
	div#title > h1 > small
	{
		font-size: 5vw;
	}
	div#main > span
	{
		font-size: 5vw;
	}
	div#showoffs
	{
		display: grid;
		grid-template-columns: 1fr;
	}
}